<html>
    <head>
        <link rel="stylesheet" href="bk.css">
    </head>


    <body>
        <div class="menu">
            <h2>Baylee & Kyle's Internet Home</h2>
            <a href = "{%url 'pictures' %}">Pictures of us</a>
            <br>
            <a href = "{%url 'songs' %}">Our Songs</a>
            <br>
            <a href = "{%url 'activities' %}">Favorite Activities</a>
            <br>
            <a href = "{%url 'things' %}">Things I love about you </a>
            <br>
            <a href = "{%url 'memories' %}">Wonderful Memories</a>

        </div>



    </body>
</html>
